@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .root-container {
    @apply container mx-auto px-4 py-8;
  }
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3b82f6 transparent transparent transparent;
}

@layer base {}
